.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  padding-top: var(--mantine-spacing-sm);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);

  z-index: 101;
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}



