.layout {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --footer-height: 98px;
  --header-height: 65px;
}

.main__content {
  position: relative;
  height: 100%;

  padding-top: calc(var(--header-height) + rem(24));
  padding-bottom: rem(24);

  z-index: 1;
}