.layout {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --footer-height: 98px;
  --header-height: 65px;
}

.main__content {
  position: relative;

  padding-left: var(--aboba);

  z-index: 1;
}