
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);

  @media(max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
  }
}

.links {
  @media(max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}

.footer__spacer {
  height: var(--footer-height);
  width: 100%;
}